[submodule "raylib"]
	path = raylib
	url = https://github.com/raysan5/raylib.git
[submodule "oneTBB"]
	path = oneTBB
	url = https://github.com/oneapi-src/oneTBB.git
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm
[submodule "liblsb"]
	path = liblsb
	url = https://github.com/spcl/liblsb.git
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm
